body {
  background-color: brown;
}

.dl-line {
  border-width: 10px ;
  border-style: solid;
  border-color: aqua;
}

.dl-line-selected {
  border-width: 10px ;
  border-style: solid;
  border-color: rebeccapurple;
}